/* line 4, ../../sass/partials/main.scss */
* {
  box-shadow: 0 0 0 1px red;
}

/* line 8, ../../sass/partials/main.scss */
a {
  cursor: pointer;
  text-decoration: none;
}
/* line 11, ../../sass/partials/main.scss */
a:hover {
  text-decoration: none;
}

/* line 107, ../../sass/partials/main.scss */
.dot {
  display: inline;
  color: #9fcfda;
  font-size: 34px;
  line-height: 0;
  margin-right: 7px;
}
@media screen and (max-width: 768px) {
  /* line 107, ../../sass/partials/main.scss */
  .dot {
    font-size: 28px;
  }
}

@media screen and (min-width: 576px) {
  /* line 119, ../../sass/partials/main.scss */
  .largeScreenNone {
    display: none !important;
  }
}
@media screen and (max-width: 576px) {
  /* line 126, ../../sass/partials/main.scss */
  .hpNone {
    display: none !important;
  }
}
