/* line 8, ../../sass/partials/main.scss */
a {
  cursor: pointer;
  text-decoration: none;
}
/* line 11, ../../sass/partials/main.scss */
a:hover {
  text-decoration: none;
}

/* line 105, ../../sass/partials/main.scss */
.dot {
  display: inline;
  color: #9fcfda;
  font-size: 24px;
  line-height: 0;
  margin-right: 7px;
}
@media screen and (max-width: 768px) {
  /* line 105, ../../sass/partials/main.scss */
  .dot {
    font-size: 18px;
  }
}

@media screen and (min-width: 576px) {
  /* line 117, ../../sass/partials/main.scss */
  .largeScreenNone {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 124, ../../sass/partials/main.scss */
  .tabletNone {
    display: none !important;
  }
}
@media screen and (max-width: 576px) {
  /* line 131, ../../sass/partials/main.scss */
  .hpNone {
    display: none !important;
  }
}
