//About
@import "modules/color";
//小於768px 設計和排列方式改變
//小於576px 圖片和字變小

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  @media screen and (max-width: 768px){
    display: block;
    background-color: $lightPink;
  }

  // title
  h3 {
    padding-bottom: 33px;
    margin: 33px 0 0 0;
    @extend %title;
    color: $lightPink;
    @media screen and (max-width: 768px){
      padding: 20px;
      margin: 0;
      background-color: #fff;
    }
  }

  //Include photo and text content
  .pinkArea {
    display: flex;
    max-width: 1120px;
    padding-bottom: 33px;
    margin-bottom: 120px;
    background-color: $lightPink;
    @media screen and (max-width: 768px){
      flex-direction: column;
      margin-bottom: 0;
    }

    //personal photo
    img {
      align-self: flex-start;
      @media screen and (max-width: 768px){
        content:url("../image/hpAbout@2x.png");
        width: 427px;
        height: auto;
        align-self: flex-end;
      }
      @media screen and (max-width: 576px){
        width: 215px;
      }
    }

    //text content
    div {
      margin: 80px 80px 60px 60px;
      @media screen and (max-width: 768px){
        margin: 0 47px 0 33px;
      }
      //MAY HUANG
      :first-child {
        font-family: Bungee;
      	font-size: 48px;
      	letter-spacing: 1.3px;
        line-height: 1;
      	color: $darkPing;
        margin: 0;
        @media screen and (max-width: 576px){
          font-size: 30px;
	        letter-spacing: 0.8px;
        }
      }
      :nth-child(3) {
        display: inline-block;
        font-family: Bungee;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1px;
        color: $mediumBlue;
        margin: 0px;
        @media screen and (max-width: 576px){
          font-size: 18px;
          letter-spacing: 0.7px;
        }
      }
      :last-child {
        margin-top: 28px;
        @extend %font;
        color: #fff;
        @media screen and (max-width: 576px){
          font-size: 15px;
        	line-height: 1.47;
        	letter-spacing: 1.6px;
        }
      }
    }
  }
}
