//About
@import "modules/color";


.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 33px 0;
  @media screen and (max-width: 768px){
    display: block;
    background-color: $lightPink;
    padding: 0;
  }
  h3 {
    padding-bottom: 33px;
    margin: 0;
    @extend %title;
    color: lightPink;
    @media screen and (max-width: 768px){
      padding: 20px;
      background-color: #fff;
    }
  }
  .pinkArea {
    display: flex;
    max-width: 1120px;
    background-color: $lightPink;
    @media screen and (max-width: 768px){
      flex-direction: column;
    }
    img {
      align-self: flex-start;
      @media screen and (max-width: 768px){
        content:url("../image/hpAbout.png");
        align-self: flex-end;
        margin: 0;
      }
    }
    div {
      margin: 80px 110px 60px 115px;
      @media screen and (max-width: 768px){
        margin: 0 47px 0 33px;
      }
      :first-child {
        font-family: Bungee;
      	font-size: 48px;
      	letter-spacing: 1.3px;
      	color: #c13368;
        @media screen and (max-width: 768px){
          margin: 0;
          font-size: 30px;
	        letter-spacing: 0.8px;
        }
      }
      :nth-child(2) {
        font-family: Bungee;
        font-size: 24px;
        letter-spacing: 1px;
        color: $mediumBlue;
        @media screen and (max-width: 768px){
          font-size: 18px;
          letter-spacing: 0.7px;
        }
      }
      :last-child {
        @extend %font;
        color: #fff;
        @media screen and (max-width: 768px){
          font-size: 15px;
        	line-height: 1.47;
        	letter-spacing: 1.6px;
        }
      }
    }
  }
}
