//Contact
@import "modules/color";
//小於768px 設計和排列方式改變
//小於576px 圖片和字變小

.contact {
  position: relative;  // let footer place at the bottom
  min-height: 100vh;
  padding-bottom: 70px;  //for the space of footer
  background-color: $lightBlue;

  // title
  h3 {
    @extend %titleFormat;
    color: $darkBlue;
    border: solid 4px #ffffff;
  }

  // content below title
  .customContainer {
    margin-top: 60px;
    @media screen and (max-width: 576px){
      padding: 0 46px;
      margin-top: 20px;
    }

    // leftside paragraph
    p{
      @extend %font;
      color: $mediumBlue;
      margin-bottom: 110px;
      @media screen and (max-width: 768px){
        margin: 23px 0 32px;
      }

      //social media link in paragraph
      a {
        color: $darkBlue;
        &:hover{
          text-decoration: underline;
        }
      }
    }


    //social media icon
    .mediaIcon {
      margin-bottom: 20px;
      a{
        display: inline-block;
        height: 52px;
        width: 60px;
        margin-right: 16px;
        background-image: url('../image/icon.png');
        @media screen and (max-width: 576px){
          height: 30px;
          width: 35px;
          margin-right: 8px;
          background-size: 350%;
        }
      }
      :first-child {
        background-position: 0 53px;
        &:hover{
          background-position: 0 0;
        }
      }
      :nth-child(2) {
        background-position: 135px 52px;
        &:hover{
          background-position: 135px -1px;
        }
      }
      :nth-child(3) {
        background-position: 60px 53px;
        &:hover{
          background-position: 60px 0;
        }
      }
      @media screen and (max-width: 576px){
        :first-child {
          background-position: 0 30px;
          &:hover{
            background-position: 0 0;
          }
        }
        :nth-child(2) {
          background-position: 78px 30px;
          &:hover{
            background-position: 78px 0;
          }
        }
        :nth-child(3) {
          background-position: 35px 30px;
          &:hover{
            background-position: 35px 0;
          }
        }
      }
    }
  }

  //rightside form
  .contactRight {
    .col-md-6 {
      padding-top: 2px; //focus decoration not enough space
    }
    input, textarea {
      width: 100%;
      padding: 6px 12px;
      border-radius: 0;
      border: none;
      background-color: rgba(255, 255, 255, 0.67);
      &:focus {
        background-color: #fff;
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #9fcfda;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #9fcfda;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #9fcfda;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #9fcfda;
      }
    }
    input {
      height: 40px;
      @media screen and (max-width: 576px) {
        height: 27px;
      }
    }
    table {
      width: 100%;
    }

    .form-group, #inputName {
      @media screen and (max-width: 576px) {
        margin-bottom: 9px;
      }
    }
    textarea {
      height: 225px;
      @media screen and (max-width: 576px) {
        height: 83px;
      }
    }

    // send button
    .customBtn {
      border-radius: 0;
      color: #fff;
      background-color: $mediumBlue;
      &:hover {
        background-color: #154F5E;
      }
      @media screen and (max-width: 576px) {
        padding: 0;
      }
    }
  }

  // footer
  .copyRight {
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    p {
      text-align: center;
      font-size: 16px;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #02303b;
      @media screen and (max-width: 576px) {
        font-size: 12px;
      }
      a {
        color: inherit;
        font-weight: 600;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
