//home
@import "modules/color";


.home {
  position: relative;
  background-color: $lightBlue;
  height: 100vh;
  text-align: center;
  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  //center titler
  div{
    display: inline-block;
    vertical-align: middle;
    height: auto;
    h3 {
      font-family: Bungee;
      text-align: center;
      color: $mediumBlue;
    	font-size: 40px;
    	letter-spacing: 2.1px;
      @media screen and (max-width: 576px) {
        text-align: left;
        font-size: 34px;
      	line-height: 1.12;
      	letter-spacing: 1.4px;
      }
    }
  }

  .arrowDown {
    position: absolute;
    background-image: url('../image/arrowDown.png');
    width:60px;
    height: 60px;
    top: 87%;
    left:0;
    right:0;
    margin:auto;
    animation-duration: 1.5s;
    &:hover{
      background-position: 0 60px;
    }
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  .hex {
    position: absolute;
  }
  img.topRight{
    max-width: 12.98vw;
    top: 60px;
    right: 0px;
    @media screen and (max-width: 768px) {
      top: 47px;
    }
    @media screen and (max-width: 576px) {
      max-width: 80px;
    }
  }
  img.bottomLeft{
    max-width: 18.36vw;
    bottom: -46px;
    left: 0;
    @media screen and (max-width: 576px) {
      max-width: 109px;
      bottom: -19px;
    }
  }
  img.bottomRight{
    max-width: 36.24vw;
    bottom: -45px;
    right: 0;
    @media screen and (max-width: 576px) {
      max-width: 226px;
      bottom: -20px;
    }
  }
}
