//navigation
@import "modules/color";


nav.customNav{
  background-color: #fff;
  transition: top 0.2s ease-in-out;
  height: 60px;
  @media screen and (min-width: 992px){
    padding: 0 60px;
  }
  @media screen and (max-width: 768px){
    height: auto;
    padding: 5px 24px;
  }

  // leftside logo and name
  .customNavBrand {
    display: flex;
    align-items: center;
    .logo {
      width: 40px;
      height: auto;
      margin-right: 10px;
      @media screen and (max-width: 768px){
        width: 30px;
      }
    }
    .name {
        color: $darkBlue;
        @media screen and (max-width: 768px){
        height: 20px;
      }
    }
  }

  // right side list
  ul a {
    font-family: monda;
    font-size: 20px;
  	letter-spacing: 0.8px;
  	color: $mediumBlue;
    margin-left: 40px;
    @media screen and (max-width: 768px){
      text-align: center;
      font-size: 18px;
      letter-spacing: 0.6px;
      padding: 4px 0;
      margin: 0;
    }
  }

  // toggler icon
  .custom-toggler {
    line-height: 33px;
    padding: 0;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#1e8ba6' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
}
// When scroll down navigation bar go up
// same as header height. use variables in LESS/SASS
.nav-up {
  top: -60px ;
  @media screen and (max-width: 768px){
    top: -50px;
  }
}
