//profolio
@import "modules/color";


.profolio {
  position: relative;
  min-height: 100vh;
  padding-bottom: 20px;
  h3 {
    margin-bottom: 20px;
    @extend %titleFormat;
    color: #fff;
    background-color: $lightPink;
    @media screen and (max-width: 768px){
      border: 2px solid #fff;
    }
  }
  .profolioContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc((100vh - 120px - 600px) / 2);
    background-color: #fff;
    div{
      .pageIcon {
        position: absolute;
        top: 200px;
        width: 60px;
        height: 60px;
        @media screen and (max-width: 576px){
          width: 30px;
          height: 30px;
        }
      }
      .prevPage {
        left: -20vw;
        transform:rotateZ(180deg);
        @media screen and (max-width: 1000px){
          left: -120px;
        }
        @media screen and (max-width: 576px){
          left: -60px;
        }
        @media screen and (max-width: 370px){
          left: -45px;
        }
      }
      .nextPage {
        right: -20vw;
        @media screen and (max-width: 1000px){
          right: -120px;
        }
        @media screen and (max-width: 576px){
          right: -60px;
        }
        @media screen and (max-width: 370px){
          right: -45px;
        }
      }
      .flex-caption {
        width: 100%;
        left: 0;
        bottom: 0;
        margin-top: 10px;
        text-align: center;
        @extend %font2;
        color: $darkPing;
      }
    }
  }
}


.demoBtn {
  cursor: pointer;
}


.profolio .flexslider {
  margin: 0;
  padding: 0;
  width: 500px;
  @media screen and (max-width: 576px) {
    width: 220px;
  }
}
.flex-control-paging li a {
  width: 20px;
	height: 20px;
  background-color: #f1c8d0;
  box-shadow: none;
  &:hover {
    background: #DC2263;
  }
  &.flex-active {
    background-color: rgba(220, 34, 99, 0.99);
  }
  @media screen and (max-width: 800px){
    width: 14px;
  	height: 14px;
  }
}
.flex-control-nav {
    bottom: -20px;
  @media screen and (max-width: 576px){
    bottom: -20px;
  }
}


.demoLink {
  position: absolute;
  width: 492px;
  height: 415px;
  top: calc(136px + ((100vh - 120px - 600px) / 2));
  // background-color: black;
  // opacity: 0.5;
  z-index: 2;
  @media screen and (max-width: 576px){
    width: 220px;
    top: 89px;
  }
}
